<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><h1> Lista Escolar </h1></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  </mat-toolbar>

  <div class="card">
    <div class="card-body">
      <h2 *ngIf="indiceEdicao == -1">Adicionar produto</h2>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome: </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"[(ngModel)]="produto.nome">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Quantidade: </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"[(ngModel)]="produto.quantidade">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Preço: </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"[(ngModel)]="produto.preco">
      </div>

      <button type="button" class="btn btn-outline-primary"(click)="salvar()">Adicionar</button>
      <br><br>

      <h2 *ngIf="indiceEdicao > -1">Editar produto</h2>
</div>
  </div>

<app-lista-de-produtos
  [produtos]="produtos"
  (editar)="editar($event)"
  (excluir)="excluir($event)"
></app-lista-de-produtos>
